// For AtTag
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/flex.scss";
// For AtLoadMore
@import "~taro-ui/dist/style/components/load-more.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import "~taro-ui/dist/style/components/button.scss";

// Custom theme
@import "@styles/theme.scss";

// Self widget common styles
$deep_grey: #888;
// $grey_bg: #dedede;
$grey_bg: $white;
$tl-time-circle: 75;

$tl-list-image-height:140px;

.timeline {
  margin-top: 20px;
  background: $white;
  width: 100%;
  display: flex;
  flex-direction: row;
  .tl-time {
    width: #{$tl-time-circle}px;
    height: #{$tl-time-circle}px;
    font-size: 20px;
    font-weight: 200;
    // text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: $blue;
    color: $white;
    position: relative;
    left: 12px;
    z-index: 1;
    border-radius: 50%;

    //NOTE 这个写法是正确的scss，但是无法被识别和解析
    // $tl-time-circle-rpx:#{$tl-time-circle}rpx;
    // line-height: ($tl-time-circle-rpx/1.85);
    line-height: 35px;
    &-txt{
      position: relative;
      left:-8px;
    }
  }
  .tl-line {
    margin-bottom: 27px;
    border-left: 0.5px solid $blue;
    padding-left: 45px;
    // width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: -25px;
    top: 60px;
  }
  .tl-top-line {
    background: linear-gradient(to right, #efefef, $blue, $blue, #efefef);
    height: 2px;
    position: relative;
    top: -25px;
    &-txt {
      font-size: 16px;
      color: $blue;
      position: absolute;
      top: -10px;
      right: 45%;
      background: $white;
      text-align: center;
    }
  }
  .tl-list {
    &-tags{
      width:100%; //让内容换行
      margin-bottom: 2px;
    }
    &-txt {
      word-wrap: break-word;
      white-space: normal;
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 10px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.4);
      @include lamp-clamp(2);
    }
    &-img {
      max-width: 45%;
      height: #{$tl-list-image-height};
      display: list-item;
      border-radius: 10px;
      // border: 4px solid #ededed;
      margin-right: 10px;
      margin-bottom: 10px;
      //  知识点： https://segmentfault.com/a/1190000011874066

      object-fit: none;
      object-position: center;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
    &-time {
      color: $blue;
      position: absolute;
      left: -60px;  
      background-color: $white;
      //   background:#000; //NOTE 测试对齐用
      font-size: 14px;
      width: 50px;
      text-align: center;
      z-index: 1;
      padding-top: 10px;
      padding-bottom: 10px;
      top: 30px;
    }

    &-jump {
      // margin-top:10px;

      // text-align: right;
      // text-decoration: underline;
      // font-size:18px;
      color: $blue;
    }
    &-item {
      // width:95%;
      font-size: 26px;
      margin-bottom: 40px;
      background: $grey_bg;
      // padding: 10px;
      word-break: break-all;
      position: relative;
      //   border-radius: 10px;   //NOTE 没有圆角看起来更飒一些
      &:after {
        content: "—";
        position: absolute;
        // width: 0;
        height: 0;

        //线条样式
        color: $blue;

        //以下是三角箭头样式
        // border: 24px solid $white;
        // border-right-color: #dedede;
        top: 30px;
        right: 100%;
      }
    }
  }
}
