// For AtArticle
@import "~taro-ui/dist/style/components/article.scss";

// Custom theme
@import "@styles/theme.scss";

.blank{
    margin-top:200px;
    &-text{
        font-size:36px;
        color:$cozy_black;
        text-align: center;
        font-weight: 800;
    }
}