@import "@styles/theme.scss";

.item {
  .at-tag {
    margin-left: 5px;
    margin-bottom:5px;
  }
  &-avatar {
    font-size: 16px;
    width: 200px;
    position: absolute;
    left: 15px;
    top: 300px;
    z-index: 999;
    background: $white;
    border-radius: 15px;
    object-fit: none;
    object-position: center;
    span {
      position: relative;
      top: -6px;
    }
    &-img {
      width: 48px !important;
      height: 48px !important;
      display: inline-block;
      margin: 5px 8px 0 5px;
      padding: 0;
      text-align: left;
      // box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    }
    &-txt{
      position: relative;
      top:-15px;
    }
  }

  // 正文信息
  &-main {
    //margin: 2px 5px 5px 5px;
    margin:14px;
    // margin-top:0px;
    font-size: 22px;
    &-title {
      font-size: 24px;
      color: $text-color;
    }
    &-date {
      padding: 2px 0 20px 0;
      color: $text-color-lighter;
      &-delete-btn{
        margin-right:15px;
        position:absolute;
        right:0;
        color: $blue;
      }
    }
    &-content {
      color: $text-color;
    }
  }

  // 幻灯片
  &-banner {
    height: 410px;
    &-item {
      height: 400px;
      // transition: transform 500ms;
      // transform: scale(0.95, 0.9); /* 因为非主图看不清，所以可以变形处理 */
    }
    &-img {
      width: 100%;
      height: 100%;
    }
  }

  // 分割线
  &-divider-with-avatar-anchor {
    background: linear-gradient(to right, #efefef, $blue, $blue, #efefef);
    height: 1px;
    // border-top: 0.07rem solid $blue;
    position: relative;
  }

  //评论区
  &-comment {
    font-size: 18px;
    margin: 5px 0 10px 0;
    &-avatar {
      padding-left: 5px;
      top: -5px;
      position: relative;
    }
    &-nickname {
      //   display:inline-flex;
    }
    &-more {
      color: $text-color-light;
    }
    &-content {
      margin: 0 5px 0 5px;
      font-size: 18px;
    }
  }
}

// 幻灯片 控制点在右下方
.swiper-pagination-bullets {
  left: 60px !important;
  bottom: 10px !important;
}

.recommend__list {
  margin: 3px 0 15px 0;
  // background-color: #fafbfc;
  &-img {
    max-width: 56px;
    height: 40px;
    display: list-item;
    //background: $grey_bg;
    border-radius: 10px;
    // border: 4px solid #ededed;
    overflow: hidden;
    padding-left: 10px;
    margin-bottom: 10px;
    //  知识点： https://segmentfault.com/a/1190000011874066

    object-fit: none;
    object-position: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}
